<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>List Books</h1>
<form action="{{ path('search_book') }}" method="get">
    <input type="text" name="search" >
    <button type="submit">Search</button>
</form>

<a href="{{ path('addBook')}}">Create now</a>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Publication date</th>
        <th>published</th>
        <th>category</th>
        <th>author</th>
        <th>Actions</th>
    </tr>


    <tr>  {% for b in book %} </tr>
    <td>{{ b.titre }}</td>
    <td>{{ b.publicationDate | date('M-d-Y') }}</td>
    <td> {{b.pulished }}</td>

    <td> {{b.category }}</td>
    <td>{{ b.authors.username }}</td>
    
<td><a href="{{ path('editBook', {'ref': b.ref}) }}">edit</a></td>
<td><a href="{{ path('delete', {'ref': b.ref}) }}">delete</a></td>
<td><a href="{{ path('app_detailBook', {'ref': b.ref}) }}">show</a></td>


    {% endfor %}
</table>
{#<p>Number of Published Books: {{ publishedCount }}</p>
<p>Number of Unpublished Books: {{ notPublishedCount }}</p>#}

</body>
</html>